<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/index.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="gunmetal-container">
        <div style="padding-top: 100px;">
          <!-- header -->
          <div style="
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 15px 20px;
                position: fixed; top: 0; width: 100%;
                background-color:  #182554;
                z-index: 9999;
              " class="navlinks">
             <a href="{{url_for('index')}}" class="links">
              <img src="../static/images/logoooo-removebg-preview.png" style="height: 100px;width:170px;">
              <span style="color: greenyellow ; font-size: 40px;" > Vertex Institute</span>
            </a>
            <nav style="color: rgb(219, 219, 219); display: flex; flex-direction: row; gap: 30px; font-size: 20px;">
              <!-- logo -->
              <a href="{{url_for('courses')}}" class="links">Courses</a>
              <a href="{{url_for('ourTeam')}}" class="links">Our team</a>
              <a href="{{url_for('gallery')}}" class="links">Gallery</a>
              <a href="{{url_for('contactUs')}}" class="links">Contact Us</a>            </nav>
          </div>
    <div align="center">
        <div align="center" class="border">
            <div class="header">
                <h1 class="word">Dashboard</h1>
            
            </div>

            <div class="msg">{{ msg }}</div>
            
            <table class="table" style="border: 1px solid white; border-spacing: 0;" >
                <thead class="table" style="border: 1px solid white;">
                    <tr style="border: 1px solid white;">
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email Id</th>
                        <th>Course</th>
                        <th>Subject</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody style="border: 1px solid white;">
                    {% for i in data %}
                    <tr style="border: 1px solid white;">
                        <td>{{ i[0] }}</td> <!-- Assuming story[0] is the User ID -->
                        <td>{{ i[1] }}</td> <!-- Assuming story[1] is the Story ID -->
                        <td>{{ i[2] }}</td> <!-- Assuming story[2] is the Title -->
                        <td>{{ i[3] }}</td> <!-- Assuming story[3] is the Story -->
                         <td>{{i[4]}}</td> 
                         <td>{{i[5]}}</td>
                        <td><a href="{{ url_for('update', id=i[0]) }}" class="a">Edit</a></td> 
                        <td><a href="{{ url_for('delete', id=i[0]) }}" class="a">Delete</a></td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="p">
                click on link to redirect to home page<a href="{{url_for('index')}}" class="a">Home_Page</a>
             </p>
        </div>
    </div>
    <footer class="bg-body-tertiary text-center" style="background-color:#182554 ; color: white; padding-top: px; ">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a
          data-mdb-ripple-init
            class="btn text-white btn-floating m-1"
            style="background-color: #3b5998;"
            href="#!"
            role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>
    
          <!-- Twitter -->
          <a
            data-mdb-ripple-init
            class="btn text-white btn-floating m-1"
            style="background-color: #55acee;"
            href="#!"
            role="button"
            ><i class="fab fa-twitter"></i
          ></a>
    
          <!-- Google -->
          <a
            data-mdb-ripple-init
            class="btn text-white btn-floating m-1"
            style="background-color: #dd4b39;"
            href="#!"
            role="button"
            ><i class="fab fa-google"></i
          ></a>
    
          <!-- Instagram -->
          <a
            data-mdb-ripple-init
            class="btn text-white btn-floating m-1"
            style="background-color: #ac2bac;"
            href="#!"
            role="button"
            ><i class="fab fa-instagram"></i
          ></a>
    
          <!-- Linkedin -->
          <a
            data-mdb-ripple-init
            class="btn text-white btn-floating m-1"
            style="background-color: #0082ca;"
            href="#!"
            role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>
          <!-- Github -->
          <a
            data-mdb-ripple-init
            class="btn text-white btn-floating m-1"
            style="background-color: #333333;"
            href="#!"
            role="button"
            ><i class="fab fa-github"></i
          ></a>
          <P style="padding-top: 15px;">  © 2020 Copyright:
              <span style="color: rgba(103, 201, 12, 0.692);"> VERTEX SOLUTIONS </span></a></P>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <!-- <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.05); margin-left: 100px;">
        © 2020 Copyright:
        <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div> -->
      <!-- Copyright -->
    </footer>
    
</body>
</html>
